[submodule "external/blokus_cc"]
	path = external/blokus
	url = https://github.com/SPark9625/blokus
[submodule "external/tictactoe"]
	path = external/tictactoe
	url = https://github.com/SPark9625/TicTacToe
[submodule "external/gomoku"]
	path = external/gomoku
	url = git://github.com/SPark9625/gomoku
